# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

app-example
app/(tabs)/HearthWeeklyPlanner.tsx
components/HearthWeeklyPlanner.tsx

# generated native folders
/ios
/android

eas.json
backup-02026.app.json
backup-032026.eas.json

#.md
PLANNER_MODERN_MIGRATION.md
design-system-refonte.md

#.html
weekly_planner_dashboard.html
authentication_portal.html

# screenshots / local assets
screen-store/

# EAS submit credentials
weatly-eas-submit-1fe1b05f374b.json